<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.chat.mapper.ChatUserRelationMapper">
    
    <resultMap type="ChatUserRelation" id="ChatUserRelationResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="userId"    column="user_id"    />
        <result property="relationUserId"    column="relation_user_id"    />
        <result property="relationUserRemark"    column="relation_user_remark"    />
    </resultMap>

    <sql id="selectChatUserRelationVo">
        select id, create_by, create_time, update_by, update_time, remark, del_flag, user_id, relation_user_id, relation_user_remark from chat_user_relation
    </sql>

    <select id="selectChatUserRelationList" parameterType="ChatUserRelation" resultMap="ChatUserRelationResult">
        <include refid="selectChatUserRelationVo"/>
        <where>  
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
            <if test="delFlag != null  and delFlag != ''"> and del_flag = #{delFlag}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="relationUserId != null "> and relation_user_id = #{relationUserId}</if>
            <if test="relationUserRemark != null  and relationUserRemark != ''"> and relation_user_remark = #{relationUserRemark}</if>
        </where>
    </select>
    
    <select id="selectChatUserRelationById" parameterType="String" resultMap="ChatUserRelationResult">
        <include refid="selectChatUserRelationVo"/>
        where id = #{id}
    </select>

    <insert id="insertChatUserRelation" parameterType="ChatUserRelation">
        insert into chat_user_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="userId != null">user_id,</if>
            <if test="relationUserId != null">relation_user_id,</if>
            <if test="relationUserRemark != null">relation_user_remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="userId != null">#{userId},</if>
            <if test="relationUserId != null">#{relationUserId},</if>
            <if test="relationUserRemark != null">#{relationUserRemark},</if>
         </trim>
    </insert>

    <update id="updateChatUserRelation" parameterType="ChatUserRelation">
        update chat_user_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="relationUserId != null">relation_user_id = #{relationUserId},</if>
            <if test="relationUserRemark != null">relation_user_remark = #{relationUserRemark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChatUserRelationById" parameterType="String">
        delete from chat_user_relation where id = #{id}
    </delete>

    <delete id="deleteChatUserRelationByIds" parameterType="String">
        delete from chat_user_relation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>